
#wrapper {
    /*    border: 1px solid;*/
    width: 740px;
    margin: 20px;
    height: 1080px;
}
h1, h4{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.th-border{
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
}
.table1 {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000;
    margin-top: 1px;
    font-size: 13px;
    margin-bottom: 15px;
}
.table-pay{
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #000;
    height: 70px;
    margin-top: 1px;
    font-weight: 600;
    font-size: 13px;
}
.table-amount-word{
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #000;
    margin-top: 1px;
    border-bottom: 1px solid black;
    font-size: 13px;
}

td {
    height: 15px;
    vertical-align: bottom;
    text-align: left;
}
th{
    height: 15px;
}
.td-border{
    border-right: 1px solid black;
    text-align: left;
}
.td-border-left{
    border-left: 2px solid black;
    text-align: left;
    padding-left: 10px;
}
.td-border1{
    border-bottom: 1px solid black;
    text-align: left;
}
.td-border2{
    border-right: 2px solid black;
    text-align: left;
}
.td-border3{
    border-bottom: 2px solid black;
    text-align: left;
}
.td-border-top{
    border-top: 2px solid black;
}
.td-border-top1{
    border-top: 1px solid black;
}
.tr-border{
    border-bottom: 1px solid black;
    padding-bottom : 5px;
}
.td-tax-invoice-total{
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: right;
}
.td-text{
    text-align: center;
}
.th-text{
    text-align: left;
}
.col-2 {
    width: 90px;
}
.col-3 {
    width: 245px;
}
.col-4 {
    width: 100px;
}
.col-5 {
    width: 150px;
}
.col-9{
    width: 390px;
}
.col-6{
    width: 357px;
}
.col-7{
    width: 200px;
}
.col-8{
    width: 173px;
}
.col-9{
    width: 90px;
}
.col-10{
    width: 245px;
}
.text-to{
    vertical-align: top;
}
p{
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.row-padding-bottom {
    padding-bottom: 10px;
}
.row-padding-left {
    padding-left: 10px;
}
.row-padding-right {
    padding-right: 10px;
}
.v-align-middle{
    vertical-align: middle;
}
.p-l-17 {
    padding-left: 17px;
}
.p-r-26 {
    padding-right: 26px;
}
#page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 0px 0 30px;
    border-left: 1px solid #e7e7e7;
}
#gross_weight {
    width: 99%;
}
.table-gross-weight {
    border: 0px;
}
.table-gross-weight td {
    padding-right: 10px;
    vertical-align: middle;
}
h1 {
    font-size: 20px;
}
h4 {
    font-size: 13px;
}
.signature {
    margin-top: 15px;
    font-size: 13px;

}
.line {
    margin-top: 25px;
}
.signature p:last-child {
    margin-top: 0px;
}
.topheading.row {
    border: 2px solid #000;
    border-bottom: 0;
}
.top-table {
    margin-top: -3px;
}
.v-align-top {
    vertical-align: top;
}
.pl-2 {
    padding-left: 2px;
}