
#wrapper {
    /*border: 1px solid #000;*/
    width: 740px;
    margin: 20px;
    height: auto;
}
.table-header{
    text-align: center;
    font-size: 22px;
    margin: 12px auto 8px;
}
.table-header2{
    padding-left: 25px;
}
.input-align{
    margin-left: 86px;
}
/*.table-bordered {
    border: 1px solid #ddd;
}*/
.table2 {
    width: 100%;
    max-width: 92%;
    /*margin-bottom: 20px;*/
    margin-left: 30px;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
}
.table {
    margin: 0px 0px 10px 30px;
    font-size: 12px;
    font-weight: 600;
}
.col-1{
    width: 151px;
}
.col-2 {
    width: 70px;
}
.col-3 {
    width: 85px;
}
.col-4 {
    width: 135px;
}
.col-5 {
    width: 85px;
}
.table2 tr th, .table2 tr td {
    height: 21px;
    padding-left: 15px;
    padding-right: 15px;
}
.profit-table {
    margin: 10px 0px 0px 30px;
    font-size: 12px;
}
.profit-table tr td {
    width: 185px;
}
input[type='text'] {
    width: 425px;
}
.input-style[type='text']{
    width: 142px;
    padding-right: 10px;
    height: 25px;
    border: 1px solid #000;
}

.text-right {
    text-align: right;
}
.td-style{
    padding-left: 35px;
}
.th-style{
    width: 95px
}
.hidden {
    display: none;
}
.rid {
    width: 151px;
}
.vno {
    width: 70px;
}
.amount {
    width: 85px;
}
.description {
    width: 135px;
}
#subtotal{
    width: 85px;
}