/* 
    Created on : Jul 13, 2018, 8:22:45 AM
    Author     : U s E r ¨
*/

#wrapper {
    width: 1080px;
    margin: 20px;
}
td, th {
    padding: 5px 10px;
}
.topic {
    width: 100%;
    background: #ccc;
    margin: 20px 0px 20px 0px;
    border: 1px solid #000;
}
h1 {
    margin: 20px 0px;
    font-size: 32px;
}
h2 {
    font-size: 30px;
    margin: 22px 0px 20px 0px;
}