
@media (max-width: 768px) {
    .header-title{
        font-size: 28px;
    }
    .form-control.col-md-9 {
        width: 100%;
    }
    label.col-md-3 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container1.col-md-3 {
        padding-left: 35px;
    }
    .form-control.col-sm-8 {
        width: 76%;
    }
    #add-consignee, #add-consignment {
        float: right;
        margin-top: -45px;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .submit-btn {
        margin-top: 15px;
    }
    .btn-group-sm > .btn, .btn-sm {
        padding: 2px 5px;
    }
    .form-btn {
        text-align: center;
        padding-left: 15px;
    }
    
}

@media (max-width: 360px) {
    .search-width{
        width: 90%;
    }
}
@media (max-width: 320px) {
    .search-width{
        width: 80%;
    }

}