.login-topic {
    margin-bottom: 20px;
}
.login-page .login-topic a {
    font-size: 36px;
    display: block;
    width: 100%;
    text-align: center;
    color: #d9534f;
}
.login-page a {
    text-decoration: none;
}
.login-page .login-topic small {
    display: block;
    width: 100%;
    text-align: center;
    color: #f09390;
    margin-top: -5px;
}
.login-panel {
    margin-top: 0;
}
.login-page {
    margin-top: 12%;
}
input[type="checkbox"]:checked .chk-col-light-blue + label:before {
    border-right: 2px solid #03A9F4;
    border-bottom: 2px solid #03A9F4;
}
input[type="checkbox"] .filled-in:checked .chk-col-light-blue:after {
    border: 2px solid #03A9F4;
    background-color: #03A9F4; 
}
.page-header {
    margin: 20px 0 20px;
}
.my-alert {
    margin-top: 20px;
}
.header-dropdown {
    position: absolute;
    top: 12px;
    right: 30px;
    list-style: none;
}
.header-dropdown li {
    display: inline-block;
}
.header-dropdown i {
    font-size: 12px;
    color: #999;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.thumb-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px; 
    width: 150px; 
}

.name-list, .consignment-list, .vesselAndFlight-list {
    float:left;
    list-style:none;
    padding:0;
    width:190px;
    position: absolute;
    z-index: 1;
}
.name-list {
    margin-top: 35px;
}
.consignment-list {
    margin-top: 78px;
}
.vesselAndFlight-list {
    margin-top: 267px;
}
.name-list li, .consignment-list li, .vesselAndFlight-list li {
    padding: 10px; 
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
    color: #000;
}
.name-list li:hover, .consignment-list li:hover, .vesselAndFlight-list li:hover{ 
    cursor: pointer;
    background: #0000ff !important;
    color: white !important; 
}
.selected {
    background: #0000ff !important;
    color: white !important;
}
/* ---------------------------- MODAL --------------------------------*/
.modal {
    display: none; /* Hidden by default */
    /*position: fixed;  Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #337ab7;
    color: white;
}

.modal-body {padding: 16px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.modal-backdrop {
    position: relative;
}
/*----------------------------/MODAL -----------------------------*/

.create-consignee {
    padding: 20px 30px;
    border: 1px solid #7db0d1;
    margin-bottom: 10px;
    width: 37%;
}
.create-consignee i {
    color: #03A9F4;
    font-size: 20px;
}/* Status Checkbox */
.container1  {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.font-header{
    font-size: 28px;
}
div.dataTables_filter input {
    width: 80%;

}
.btn-style{
    width: 15%;
}
.visitor-prof-margin {
    margin-top: 40px;
}
.visitor-list-color {
    color: #442525;
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-margin{
    margin-top: 40px;
}
.usernavdash {
    margin-bottom: 30px;
}
.usernavdash li {
    list-style-type: none;
}
.list-style{
    padding-left: 15px;
    padding-right: 0px;
    margin-top: 40px;
}
.status{
    margin-left: 10px;
}
.pro-picture{
    margin-bottom: 10px;
}
.list-hover li:hover {
    background-color: lightskyblue;
}
.list-hover li a:hover {
    text-decoration: none;
}
.list-hover li a {
    font-size: 16px;
}
.form-control.col-md-8 {
    width: 66.6667%;
}
.form-control.col-md-9 {
    width: 73%;
}
.form-control.col-md-10 {
    width: 83.333%;
}
.form-group label {
    text-align: right;
}
.form-control {
    margin-bottom: 15px;
}
list.border{
    border: 0;
}
.table-td-width{
    width: 28%;
}
.form-control-border {
    border: 0px solid #ccc;
}
.label-align{
    text-align: left;
}
.image-align{
    margin-bottom: 15px;
}
.form-group .label-align {
    text-align: left;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 6px;
}
.table2.to-hide {
    display:none;
}ul{
    list-style-type: none;
}
.access-denied {
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
}
.access-denied h1 {
    font-size: 40px;
    text-align: center;
    color: #1867c0;
    margin: 10px 0px 0px 0px;
}
.access-denied p {
    font-size: 16px;
    text-align: center;
    color: #000;
    margin: 0px 0px 20px 0px;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.edit-btn {
    margin-top: 15px;
}
.form-btn {
    padding-left: 0px;
}
.tax-invoice-btn {
    margin-top: 30px;
}