.login-topic {
    margin-bottom: 20px;
}
.login-page .login-topic a {
    font-size: 36px;
    display: block;
    width: 100%;
    text-align: center;
    color: #d9534f;
}
.login-page a {
    text-decoration: none;
}
.login-page .login-topic small {
    display: block;
    width: 100%;
    text-align: center;
    color: #f09390;
    margin-top: -5px;
}
.login-panel {
    margin-top: 0;
}
.login-page {
    margin-top: 12%;
}
[type="checkbox"]:checked.chk-col-light-blue + label:before {
    border-right: 2px solid #03A9F4;
    border-bottom: 2px solid #03A9F4;
}
[type="checkbox"].filled-in:checked.chk-col-light-blue + label:after {
    border: 2px solid #03A9F4;
    background-color: #03A9F4; 
}
.page-header {
    margin: 20px 0 20px;
}
.my-alert {
    margin-top: 20px;
}
.header-dropdown {
    position: absolute;
    top: 12px;
    right: 30px;
    list-style: none;
}
.header-dropdown li {
    display: inline-block;
}
.header-dropdown i {
    font-size: 12px;
    color: #999;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}